@import net.rouly.employability.web.application.model._

@(stats: List[BucketStats], numTopics: Long, numDocs: Long)

@application.layout.main(title = "Main") {

    <p>
        <i>Employability</i> is a research project exploring how universities are preparing students for the workforce.
        Its name comes from the notion of how <i>employable</i> a student is upon graduation.
    </p>

    <h2>Data</h2>

    <!--
    <table>
        <caption>dataset statistics</caption>
        <tbody>
            <tr>
                <td>Job Descriptions (raw)</td>
                <td>96,822</td>
            </tr>
            <tr>
                <td>Job Descriptions (preprocessed)</td>
                <td>92,852</td>
            </tr>
            <tr>
                <td>Course Descriptions (raw)</td>
                <td>105,593</td>
            </tr>
            <tr>
                <td>Course Descriptions (preprocessed)</td>
                <td>17,536</td>
            </tr>
        </tbody>
    </table>
    -->

    <h4>A note about course descriptions</h4>

    <p>
        The number of raw course and job descriptions roughly correspond. However, the data quality of the course
        descriptions was clearly inferior compared to the job descriptions. Raw, unmodified course descriptions
        were downloaded from primary sources (university catalog websites). Unfortunately, the average course
        description is a very brief description of the mechanics of a course. The course description that details
        expectations, concepts, and outcomes of a course is a rare one. A more appropriate data source, though
        significantly less available, would be course syllabi.
    </p>

    @for(stat <- stats) {
        <div>
            <table>
                <caption>@stat.title</caption>
                <thead>
                    <tr>
                        <th>@stat.labels._1</th>
                        <th>@stat.labels._2</th>
                    </tr>
                </thead>
                <tbody>
                    @for(entry <- stat.buckets) {
                        <tr>
                            <td>@entry.dataSet</td>
                            <td>@("%,d".format(entry.coverage))</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }


    <h2>Report</h2>

    <p>
        An initial report of the eighteen universities surveyed is included.
        <em>coverage</em> refers to the percent of the inferred topic universe covered by documents in the given
        dataset. A heuristic to apply here is the higher the coverage the more broadly the dataset is represented
        in the topic universe.
    </p>

}
