@import net.rouly.employability.models.Topic
@import net.rouly.employability.web.application.model.OverlapStats
@import net.rouly.employability.web.application.routes

@(stats: OverlapStats, topics: List[Topic], plot: String, theta: Double)

@relevantEntries(theta: Double, strict: Boolean) = @{
  stats.entries.filter { entry =>
    val cdr = entry.courseDescriptionProportion >= theta
    val jdr = entry.jobDescriptionProportion >= theta
    if (strict) cdr && jdr
    else cdr || jdr
  }
}

@application.layout.main(title = "Overlap") {

    <h1>Overlap</h1>

    <p>
        This table reports the percent proportion with which each topic is modeled in each corpus (job descriptions, course
        descriptions). Topics are ordered by ID. Only the most relevant topics (greater than @components.percent(theta) in both corpora) are shown.
        It is shown first in graphical form.
    </p>

    <div>@Html(plot)</div>

    <div>
        <table>
            <caption>Most Relevant Document Topic Frequency</caption>
            <thead>
                <tr>
                    <th>topic id</th>
                    <th>job description count</th>
                    <th>job description proportion</th>
                    <th>course description count</th>
                    <th>course description proportion</th>
                </tr>
            </thead>
            <tbody>
            @for(entry <- relevantEntries(theta = theta, strict = true).sortBy(_.topicId)) {
                <tr>
                    <td><a href="@routes.ElasticsearchController.topicById(entry.topicId.toString)">@entry.topicId</a></td>
                    <td>@components.int(entry.jobDescriptionCount)</td>
                    <td>@components.percent(entry.jobDescriptionProportion)</td>
                    <td>@components.int(entry.courseDescriptionCount)</td>
                    <td>@components.percent(entry.courseDescriptionProportion)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

    <p>
        This table contains the same data but for a complete listing of all topics.
    </p>

    <div>
        <table>
            <caption>Complete Document Topic Frequency</caption>
            <thead>
                <tr>
                    <th>topic id</th>
                    <th>job description count</th>
                    <th>job description proportion</th>
                    <th>course description count</th>
                    <th>course description proportion</th>
                </tr>
            </thead>
            <tbody>
            @for(entry <- stats.entries.sortBy(_.topicId)) {
                <tr>
                    <td><a href="@routes.ElasticsearchController.topicById(entry.topicId.toString)">@entry.topicId</a></td>
                    <td>@components.int(entry.jobDescriptionCount)</td>
                    <td>@components.percent(entry.jobDescriptionProportion)</td>
                    <td>@components.int(entry.courseDescriptionCount)</td>
                    <td>@components.percent(entry.courseDescriptionProportion)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
