@import net.rouly.employability.models.Topic
@import net.rouly.employability.web.application.model.OverlapStats
@import net.rouly.employability.web.application.routes

@(stats: OverlapStats, topics: List[Topic])

@relevantEntries = @{
    val relevanceThreshold = 0.05
    stats.entries.filter { entry =>
      val cdr = entry.courseDescriptionProportion >= relevanceThreshold
      val jdr = entry.jobDescriptionProportion >= relevanceThreshold
      cdr || jdr
    }
}

@application.layout.main(title = "Overlap") {

    <h1>Overlap</h1>

    <p>
        This table reports the frequency with which each topic is modeled in each corpus (job descriptions, course
        descriptions). Topics are ordered by ID.
    </p>

    <div>
        <table>
            <caption>Document Topic Frequency</caption>
            <thead>
                <tr>
                    <th>topic id</th>
                    <th>job description count</th>
                    <th>job description frequency</th>
                    <th>course description count</th>
                    <th>course description frequency</th>
                </tr>
            </thead>
            <tbody>
            @for(entry <- relevantEntries.sortBy(_.topicId)) {
                <tr>
                    <td><a href="@routes.ElasticsearchController.topicById(entry.topicId.toString)">@entry.topicId</a></td>
                    <td>@components.int(entry.jobDescriptionCount)</td>
                    <td>@components.double(entry.jobDescriptionProportion)</td>
                    <td>@components.int(entry.courseDescriptionCount)</td>
                    <td>@components.double(entry.courseDescriptionProportion)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>

}
