@import net.rouly.employability.web.application.model.BucketStats

@(stats: BucketStats)

<table>
    <caption>@stats.title</caption>
    <thead>
        <tr>
            <th>@stats.labels._1</th>
            <th>@stats.labels._2</th>
        </tr>
    </thead>
    <tbody>
    @for(entry <- stats.buckets) {
        <tr>
            <td>@entry.dataSet</td>
            <td>@int(entry.coverage)</td>
        </tr>
    }
        <tr>
            <td><strong>total</strong></td>
            <td><strong>@int(stats.buckets.map(_.coverage).sum)</strong></td>
        </tr>
    </tbody>
</table>
