@import net.rouly.employability.models.ModeledDocument
@import net.rouly.employability.web.application.routes

@(document: ModeledDocument)

<div>

    <h2>Id</h2>

    <h3><a href="@routes.ElasticsearchController.docById(document.id)">@document.id</a></h3>

    <h2>Original Text</h2>

    <blockquote>@document.originalText.take(1000) ... </blockquote>

    <h2>Inferred Topics</h2>

    <table>
        <thead>
            <tr>
                <th>topic</th>
                <th>topic words</th>
                <th>weight</th>
            </tr>
        </thead>
        <tbody>
        @for(wt <- document.weightedTopics.sortBy(_.weight).reverse) {
            <tr>
                <td><a href="@routes.ElasticsearchController.topicById(wt.topic.id)">@wt.topic.id</a></td>
                <td><a href="@routes.ElasticsearchController.topicById(wt.topic.id)">@wt.topic.wordFrequency.toList.sortBy(_.frequency).reverse.map(_.word).mkString(", ")</a></td>
                <td>@("%.8f".format(wt.weight))</td>
            </tr>
        }
        </tbody>
    </table>
</div>
