@import net.rouly.employability.models.Topic
@import net.rouly.employability.web.application.routes

@(topic: Topic)

<table>
    <caption><a href="@routes.ApplicationController.topicById(topic.id)">topic @topic.id</a></caption>
    <thead>
        <tr>
            <td>word</td>
            <td>frequency</td>
        </tr>
    </thead>
    <tbody>
    @for((word, frequency) <- topic.wordFrequency.toList.sortBy(_._2).reverse) {
        <tr>
            <td>@word</td>
            <td>@("%.8f".format(frequency))</td>
        </tr>
    }
    </tbody>
</table>
