@import net.rouly.employability.web.application.routes

<ul id="nav">
    <li><a href="@routes.StaticPagesController.index()">Home</a></li>
    <li><a href="@routes.StaticPagesController.about()">About</a></li>
    <li class="separator">Explore</li>
    <li><a href="@routes.ElasticsearchController.allTopics()">Topics</a></li>
    <li><a href="@routes.ElasticsearchController.allDocuments()">Documents</a></li>
    <li class="separator">Resources</li>
    <li><a href="https://github.com/jrouly/employability">GitHub</a></li>
    <li><a href="https://michel.rouly.net">Paper</a></li>
</ul>