table {
  border-collapse: collapse;
  display: inline-table;
  margin: 15px;
}

table thead, table td {
  text-align: left;
  padding: 8px;
  font-family: monospace;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table thead {
  background-color: #3F78A9;
  color: whitesmoke;
}

table caption {
  padding: 8px;
  font-size: 1.1em;
}

