table {
  border-collapse: collapse;
  display: inline-table;
  margin: 15px;
}

table thead, table td, table th {
  text-align: center;
  padding: 8px;
  font-family: monospace;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table thead {
  background-color: royalblue;
  color: whitesmoke;
}

table caption {
  padding: 8px;
  font-size: 1.1em;
  background-color: lightblue;
}

