#container {
  padding: 15px;
}

#container h1 {
  font-size: 2em;
  margin-bottom: 0px;
}

#container h2 {
  font-size: 1.3em;
}

#container h3 {
  font-size: 1.0em;
}

#container h4 {
  font-size: 0.9em;
}
